.ipNewsList{
    clear: both;
}

.ipNewsList ._newsText{
    padding-bottom: 10px;
    padding-left: 20px;
}

.ipNewsList h1{
    padding-bottom: 20px;
}

.ipNewsList ._date{
    font-size: 10px;
    padding-bottom: 10px;
}

.ipNewsList ._newsItem img{
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ipNewsList ._newsItem{
    padding-bottom: 20px;
}