
.ipNewsList ._newsText{
    padding-bottom: 10px;
}

.ipNewsList h1{
    padding-bottom: 20px;
}

.ipNewsList ._date{
    font-size: 10px;
    padding-bottom: 10px;
}

.ipNewsList ._newsItem img{
    float: left;
    margin-right: 10px;
}

.ipNewsList ._newsItem{
    padding-bottom: 20px;
    clear: both;
}
